
.ingredientlist {
    max-height: 16rem;
    overflow-y: scroll;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.ingredientWrapper {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
    position: relative;
    margin-right: -14px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

.darkened {
    filter: brightness(0.8);
}

.ingredientInnerCircle {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    background: black;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ingredientImage {
    width: calc(64px * 0.8);
    height: calc(64px * 0.8);
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 3;
}
