.ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row {
    composes: main-card-row from global;
}

.done {
    color: #00CCCC
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ordernumber {
    text-align: center;
}

.price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: min-content;
}