.li {
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.hidden {
    visibility: hidden;
}

.nowrap {
    overflow-wrap: break-word;
}

.nowrap:hover {
    box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25), 0px 0px 8px 8px rgba(51, 51, 255, 0.25);
    filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
}