.li {
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.empty_list {
    align-items: center;
    text-align: center;
    align-content: center;
}

.hidden {
    visibility: hidden;
}

.nowrap {
    overflow-wrap: break-word;
    overflow-y: hidden;
}

.constructor-element {
    composes:constructor-element from global;
    display: block;
}