.li {
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.empty_list {
    align-items: center;
    text-align: center;
    align-content: center;
}

.hidden {
    visibility: hidden;
}

.nowrap {
    overflow-wrap: break-word;
    overflow-y: hidden;
}

.fix {
    display: grid;
}

.ishover {
    filter: drop-shadow(0px 4px 16px rgba(51, 51, 255, 0.5));
}

.isopacity {
    opacity: 0.05;
}