.ordercard {
    /* interface/accent */
    background: #1C1C21;
    /* /card/base */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}

.ordercard:hover {
    filter: drop-shadow(0px 0px 8px rgba(51, 51, 255, 1));
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}