.row {
    composes: main-card-row from global;
}

.check {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
}

.li_total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ul {
    padding: 0;
    overflow-y: auto;
    max-height: calc(100vh - 31rem);
}

.span {
    display: block;
}

.spinner {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: '#f0f0f0';
}