.items {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: fit-content;
}

.icon {
    transform: scale(2);
  }

.textglow {
    text-shadow: 
    0 0 5px rgba(5, 0, 149, 0.803),
    0 0 15px rgba(2, 39, 253, 0.727);
}
