.headerclose {
    float: right;
}

.headerclose:hover {
    box-shadow: 0 0 15px rgba(51, 51, 255, 0.5);
}

.headertext {
    content: "";
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}