.headerbutton {
    background: transparent;
    padding: 16px 20px 16px 20px;
    gap: 8px;
    display: flex;
    align-items: center;
    width: min-content;
    white-space: nowrap;
}


.headerbutton:hover {
	box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25), 0px 0px 8px 8px rgba(51, 51, 255, 0.25);
	filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
}

.headerbutton {
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: var(--common-border-radius);
	transition: var(--common-transition);
}