.ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grouped_items {
    overflow-y: auto;
    max-height: calc(100vh - 20rem);
}

.tab_block {
    display: flex;
}

.row {
    composes: main-card-row from global;
}
.isloading {
    text-align: center;
    position: sticky;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);
    width: 100%; */
    z-index: 1;
  }